:root {
	--bg: #0a1929;
	--bg-secondary: #122c47;
	--primary: white;
	--secondary: #1976d2;
	--important: #fbfd75;
}

* {
	box-sizing: border-box;
}

html,
body,
#__next {
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
	height: 100%;
}

body {
	color: var(--primary);
	background: var(--bg);
}

#__next {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.no-transform {
	text-transform: none !important;
}

.m-1 {
	margin: 0.25rem;
}

.m-2 {
	margin: 0.5rem;
}

.m-3 {
	margin: 1rem;
}

.m-4 {
	margin: 1.5rem;
}

.m-5 {
	margin: 3rem;
}

.important {
	color: var(--important);
}
