@import './variables.module.scss';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';

html,
body,
#__next {
	height: 100%;
}

body {
	font-family: Montserrat, sans-serif;
}

#__next {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: inherit;
}

em {
	font-style: inherit;
	color: map-get($theme-colors, 'important');
}

.no-transform {
	text-transform: none !important;
}
