:root {
	--bg: #0a1929;
	--bg-secondary: #122c47;
	--primary: white;
	--secondary: #1976d2;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
}

body {
	color: var(--primary);
	background: var(--bg);
}

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}
