@import './variables.module.scss';

.card {
	margin: 80px 20px;
	background-color: $secondary;
	padding: 30px;
	border-radius: 10px;

	display: flex;
	align-items: center;

	> * {
		margin: 0 10px;
	}

	p {
		font-size: 2.5rem;
		line-height: 1.2em;
		min-width: 55%;
		text-align: center;
		margin: 50px 0;
	}
}

.flexReverse {
	flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
	.card {
		flex-direction: column;
	}

	.imageWrapper {
		margin: 0;
	}
}
