@import 'bootstrap/scss/functions';

$body-bg: rgb(10, 25, 41);
$body-color: white;

$primary: rgb(25, 118, 210);
$secondary: rgb(18, 44, 71);

@import 'bootstrap/scss/variables';

$custom-colors: (
	'important': rgb(251, 253, 117),
);

$theme-colors: map-merge($theme-colors, $custom-colors);
